<div>

    <form name="course_edit" class="course_edit">
        Name:<input ng-model="course.name" type="text" required /><br/>
        Category: <select ng-model="course.category" required
                          ng-options="category as category for category in categories"/><br>
        Date: <!--<input ng-model="course.date" type="date" required />-->

        <!--<uib-datepicker ng-model="dt"></uib-datepicker><br>-->
        <br>
        <div class="col-md-6">
            <p>
            <input type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" required
                    ng-model="course.date" is-open="status.opened" />
            <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                  
            <br/>
            </p>
        </div>
        <br>
        <div class='col-md-12'>
        Content: <br>

        <textarea id='content_keditor' coursekeditor ng-model="course.content" data-config="kindeditor_config" cols="100%" rows="20"></textarea>
        </div>
         <!-- <div>
         <textarea ng-model='course.content' rows="20"  class="form-control"></textarea>
        </div> -->
       
        <button ng-click="submit()">Submit</button>
        <button ng-click="cancel()">Cancel</button>
    </form>

</div>