<div>
	<h2>Course: {{course.name}} User Access List</h2>
	<table class="table table-striped table-bordered">
        <tr><th ng-repeat="head in headers" ng-model="head"><p>{{head}}</p></th></tr>

        
        <tr ng-repeat="access in userAccessList" ng-model="access">
            
            <td>
                {{access.userInfo.nickname}}
            </td>
            <td>
                {{access.accessDate}}
            </td>
            <td>
               {{access.flag}}
            </td>

        </tr>
    </table>
    <uib-pagination total-items="totalCourseCount" ng-model="pageIdx" max-size="totalPages" class="pagination-sm" boundary-links="true" force-ellipses="true" boundary-link-numbers="true" num-pages="totalPages" ng-change="pageChanged()"></uib-pagination>
</div>