<div>
    <table class="table">

        <th ng-repeat="head in headers" ng-model="head"><p>{{head}}</p></th>

        <tr ng-repeat="course in courses" ng-model="course">
            <hr/>
            <td>
                <a ui-sref='home.courseedit({courseId: course.id})'><strong>{{course.name}}</strong></a>
            </td>
            <td>
                {{course.category}}
            </td>
            <td>
                {{course.date}}
            </td>
            <td>
                <button ng-click="delete(course.id)">Delete</button><br>
            </td>
        </tr>
    </table>
    <hr/>
    <button ng-click="newCourse()">New Course</button>
</div>

<div ui-view/>