<div>
    <header class='header'>
        <h2>Course Plan List</h2>
    </header>
    <a class='btn btn-primary' ui-sref='home.courseplan_new()'>Add New</a>
	<table class="table table-striped table-bordered">
        <th ng-repeat="head in headers" ng-model="head"><p class="text-center">{{head}}</p></th>
        <tr ng-repeat="coursePlan in coursePlanList" ng-model="coursePlan">
            <td>{{coursePlan.title}}</td>
            <td>{{coursePlan.subTitle}}</td>
            <td>{{coursePlan.content}}</td>
            <td>{{coursePlan.price}}</td>
            <td><a ui-sref='home.courseplan_edit({id: coursePlan.id})'>Edit</a></td>
            <td><button ng-click='delete(coursePlan.id)'>Delete</button></td>
        </tr>
    </table><br>
</div>