<script charset="utf-8" src="../../bower_components/jquery/dist/jquery.min.js"></script>

<script charset="utf-8" src="../../bower_components/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="../../bower_components/kindeditor/lang/zh-CN.js"></script>

<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>

<textarea id="editor_id" name="content" style="width:700px;height:300px;">
&lt;strong&gt;HTML内容&lt;/strong&gt;
</textarea>