<div class="course">
    <header class='header'>
        <h2>Course List</h2>
    </header>

    <button  class='btn btn-primary' ng-click="newCourse()">New Course</button>
    <table class="table table-striped table-bordered">
        <th ng-repeat="head in headers" ng-model="head"><p>{{head}}</p></th>

        <tr ng-repeat="course in courses" ng-model="course">
            <hr/>
            <td>
                <a ui-sref='home.courseedit({courseId: course.id})'><strong>{{course.name}}</strong></a>
            </td>
            <td>
                {{course.status}}
            </td>
            <td>
                <button ng-click="delete(course.id)">Delete</button><br>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<div ui-view/>