<div>
	<h2>Configure Home Page Courses</h2>

	<table class="table table-striped">
		<tr><th>Course Name</th><th>Image</th><th>Change Order</th><th>Delete</th></tr>
		<tr ng-repeat='course in courses'>
			<td>{{course.courseName}}</td>
			<td><img ng-src='{{course.imageUrl}}' width='50px'/></td>
			<td><button class='btn btn-default glyphicon glyphicon-arrow-up' ng-click='moveUp(course)'></button>
			<button class='btn btn-default glyphicon glyphicon-arrow-down' ng-click='moveDown(course)'></button></td>
			<td><button class='btn btn-default' ng-click='deleteCourse(course.id)'>Delete</button></td>
		</tr>
	</table>

	<!-- <div class="panel panel-default"> -->
		<div class="panel-heading">
	      <h3 class="panel-title">
	         Add new course
	      </h3>
	   </div>
	   <form name="addCourseForm" class="panel-body">
	   		<div class=" input-group">
	        	<label class="input-group-addon">Select Course:</label>
	        	<select class="selectpicker form-control" dropupAuto="false" selectpicker name="course_id" ng-model="selectedCourseId" data-live-search="true" ng-options="course as course.name for course in courseIdNames" required>
	        		<!-- <option ng-repeat="course in courseIdNames" value="{{course.id}}">
	        			{{course.name}}</option> -->
	        	</select>
	        </div>
	        <div class='btn-group row input-lg'>
	        	<button class='button btn btn-default' ng-disabled='addCourseForm.$invalid' ng-click='submit()'>Submit</button>
	        </div>
	   </form>
	<!-- </div> -->
</div>