<div class="main_menu">
    <div class="navbar navbar-default" role="navigation">
    	<div class="navbar-collapse collapse padding-left-0">
    		<a class="menutoggle show_left_menu" href="javascript:void(0);">
    			<span class="navbar-brand">
    				<span class="fa fa-bars">

    				</span>
    			</span>
			</a>
			<span class="navbar-brand top_menu_title padding-left-0">
				ZaoZao
			</span>
		</div>
    </div>
    <div class="sidebar-nav">
    	<ul>
    		<li>
    			<a href='javascript:void(0)' class="nav-header a-folder-1" data-toggle="collapse" data-target=".course-folder">
    				
    				Course Management
    				<i class="fa fa-collapse">
    				</i>
    			</a>
    		</li>
    	</ul>
    	<li>
			<ul class="course-folder nav nav-list collapse in"  ng-model="tab">
				<li ng-repeat="tab in tabs">
					<a ui-sref='{{tab.url}}'>
						<span class="fa fa-caret-right">
						</span>
						{{tab.label}}
					</a>
				</li>
			</ul>
		</li>
    </div>
</div>
<div class="home_content" ui-view></div>