<div class="main_menu">
    <div class="navbar navbar-default" role="navigation">
    	<div class="navbar-collapse collapse padding-left-0">
    		<a class="menutoggle show_left_menu" href="javascript:void(0);">
    			<span class="navbar-brand">
    				<span class="fa fa-bars">

    				</span>
    			</span>
         </a>
         <span class="navbar-brand top_menu_title padding-left-0">
            ZaoZao
        </span>
    </div>
</div>
<div class="sidebar-nav">
   <ul>
      <li>
         <a href='#' class="nav-header" data-toggle="collapse" data-target="#course-folder" aria-expanded="true" aria-controls="course-folder">
            <i class="glyphicon glyphicon-wrench">
            </i>
            Course Management
            <i class="fa fa-collapse">
            </i>
        </a>
    </li>
</ul>
<li>
 <ul id="course-folder" class="nav nav-list"  ng-model="tab">
    <li ng-repeat="tab in tabs">
       <a ui-sref='{{tab.url}}'>
          <span class="fa fa-caret-right">
          </span>
          {{tab.label}}
      </a>
  </li>
</ul>
</li>

<!-- <li>
    <a href='javascript:void(0)' class="nav-header" data-toggle="collapse" data-target="#online-folder">
        <i class="glyphicon glyphicon-wrench">
        </i>
        Online Analytic
    </a>
</li>

<li>
    <ul id="online-folder" class="nav nav-list collapse in" ng-model="tab">
        <li ng-repeat="tab in onlineTabs">
            <a ui-sref='{{tab.url}}'>
                <span class="fa fa-caret-right">
                </span>
                {{tab.label}}
            </a>
        </li>
    </ul>
</li> -->

<li ng-show="showAdmin" >
    <a href='javascript:void(0)' class="nav-header" data-toggle="collapse" data-target=".course-admin-folder">
        <i class="glyphicon glyphicon-wrench">
        </i>
        System Management
    </a>
</li>
<li ng-show="showAdmin">
    <ul class="course-admin-folder nav nav-list collapse in" ng-model="tab">
        <li ng-repeat="tab in adminTabs">
            <a ui-sref='{{tab.url}}'>
                <span class="fa fa-caret-right">
                </span>
                {{tab.label}}
            </a>
        </li>
    </ul>
</li>

</div>
</div>
<div class="home_content" ui-view></div>