<div>
	
	
	<!-- <div id="myCarousel" class="carousel slide col-sm-4"  data-ride="carousel"
		hm-swipe-left="swipeLeft()" hm-swipe-right="swipeRight()">
	   <ol class="carousel-indicators">
	      <li ng-repeat='image in images' data-target="#myCarousel" data-slide-to="{{image.index}}" ng-model="image" ng-class="image.active?'active':''"></li>
	   
	   </ol>   
	   <div class="carousel-inner">
	      <div class="item" ng-repeat='image in images' ng-model='image' ng-class='image.active?"active":""'>
	         <img ng-src="{{image.url}}">
	      </div>
	   </div>
	   <a class="carousel-control left" href="#myCarousel" 
	      data-slide="prev">&lsaquo;</a>
	   <a class="carousel-control right" href="#myCarousel" 
	      data-slide="next">&rsaquo;</a> 
	</div>  -->

	<table class="table table-striped">
		<tr><th>Name</th><th>Course Name</th><th>Image</th><th>Change Order</th><th>Delete</th></tr>
		<tr ng-repeat='image in images'>
			<td>{{image.name}}</td>
			<td>{{image.courseName}}</td>
			<td><img ng-src='{{image.url}}' width='50px'/></td>
			<td><button class='btn btn-default glyphicon glyphicon-arrow-up' ng-click='moveUp(image)'></button>
			<button class='btn btn-default glyphicon glyphicon-arrow-down' ng-click='moveDown(image)'></button></td>
			<td><button class='btn btn-default' ng-click='deletePic(image.id)'>Delete</button></td>
		</tr>
	</table>
	<form name="addImageForm">
		<div class="input-group">
            <label class="input-group-addon">Add Image:</label>
            <input name="image_file form-control" type="file" nv-file-select="" uploader="uploader" required/>
        </div>
        <div class=" input-group">
        	<label class="input-group-addon">Select Course:</label>
        	<select class="form-control" name="course_id" ng-model="selectedCourseId" required>
        		<option ng-repeat="course in courseIdNames" value="{{course.id}}">
        			{{course.name}}</option>
        	</select>
        </div>
        
        <div class='btn-group row input-lg'>
        	<button class='button btn btn-default' ng-disabled='addImageForm.$invalid' ng-click='submit()'>Submit</button>
        </div>
    </form>

</div>