<div>
	
	<!-- <div class='container panel panel-default jumbotron'>
		
		<div class="my-switch-animation panel-body" ng-repeat='image in images' ng-if='image.id === currentId'>
			<img ng-src='{{image.url}}' />
		</div>
		
	</div>
		<div class='panel-heading'>
			<a class="glyphicon glyphicon-chevron-left" href="#" ng-click="prevSlide()"></a>
	    	<a class="glyphicon glyphicon-chevron-right" href="#" ng-click="nextSlide()"></a>
    	</div>

	<div> -->

	<!-- <div id="myCarousel" data-ride="carousel" data-interval="5000" class="carousel slide col-sm-4"> -->
	<div id="myCarousel" class="carousel slide col-sm-4"  data-ride="carousel"
		hm-swipe-left="swipeLeft()" hm-swipe-right="swipeRight()">
	   <!-- 轮播（Carousel）指标 -->
	   <ol class="carousel-indicators">
	      <li ng-repeat='image in images' data-target="#myCarousel" data-slide-to="{{image.index}}" ng-model="image" ng-class="image.active?'active':''"></li>
	   
	   </ol>   
	   <!-- 轮播（Carousel）项目 -->
	   <div class="carousel-inner">
	      <div class="item" ng-repeat='image in images' ng-model='image' ng-class='image.active?"active":""'>
	         <img ng-src="{{image.url}}">
	      </div>
	   </div>
	   <!-- 轮播（Carousel）导航 -->
	   <a class="carousel-control left" href="#myCarousel" 
	      data-slide="prev">&lsaquo;</a>
	   <a class="carousel-control right" href="#myCarousel" 
	      data-slide="next">&rsaquo;</a> 
	</div> 

	<table class="table table-striped">
		<tr><th>Name</th><th>Image</th><th>Delete</th></tr>
		<tr ng-repeat='image in images'>
			<td>{{image.name}}</td>
			<td><img ng-src='{{image.url}}' width='50px'/></td>
			<td><button class='btn btn-default' ng-click='deletePic(image.id)'>Delete</button></td>
		</tr>
	</table>
		<div class="">
            <label class="col-sm-2 control-label">Add Image:</label>
            <input type="file" nv-file-select="" uploader="uploader" />
        </div>
        <!-- <div class="">
            <ul ng-repeat="item in uploader.queue">
                <li>
                    <div style='display: inline' ng-thumb="{ file: item._file, height: 100 }"> </div>
                    <button type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click='deletePic(item)'></span>
					</button>
                </li>
                	
            </ul>  
        </div> -->
        <div class='btn-group row input-lg'>
        	<button class='button btn btn-default' ng-click='submit()'>Submit</button>
        </div>
	</div>

</div>