<div>
    <form name="add_course" class="new_course">
        Name:  <input ng-model="name" type="text" required/><br>
        Category: <select ng-model="category" required
                          ng-options="category as category for category in categories"/><br>
        Content: <br><textarea cols="100" rows="10" ng-model="content" required></textarea><br>
        <!--Date: <input ng-model="date" type="date" required/><br>-->
        Date:
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" required
                       ng-model="date" is-open="status.opened" />
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                <br/>
            </p>
        </div>
        File: <input type="file" nv-file-select="" uploader="uploader" />
        <ul ng-repeat="item in uploader.queue">
            <li>
                <div  ng-thumb="{ file: item._file, height: 100 }"></div>
            </li>
        </ul>
        <button ng-click="submit()" ng-disabled="add_course.$invalid">Submit</button>
    </form>
</div>