
<div>
    <form name="add_course" class="new_course">
        Name:  <input ng-model="name" type="text" required/><br>
        Category: <select ng-model="category" required
                          ng-options="category as category for category in categories"/>
        <br>
        Introduction:<br>
        <textarea ng-model="introduction" cols="100%" rows="5"></textarea>
        <br>
        Title Image: <input type="file" nv-file-select="" uploader="uploader" required/>
        <!-- <ul ng-repeat="item in uploader.queue">
            <li>
                <div  ng-thumb="{ file: item._file, height: 100 }"></div>
            </li>
        </ul>  -->

        Content: 
        <br>
        <!-- <div class="ueditor" nodetype='2' ng-model='content' config="_simpleConfig" id='editor' >

        </div> -->
        <textarea keditor ng-model="content" data-config="kindeditor_config" cols="100%" rows="20"></textarea>

        <!-- <div>
            <textarea class="form-control" ng-model='content'></textarea>
        </div> -->
        <br>
        <!--Date: <input ng-model="date" type="date" required/><br>-->
        Date:<br>
        <div class="col-md-6">
            <p>
                <input type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" required
                       ng-model="date" is-open="status.opened" />
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                  
                <br/>
            </p>
        </div><br>
        
        <button ng-click="submit()" ng-disabled="add_course.$invalid">Submit</button>
        <button ng-click="cancel()">Cancel</button>
    </form>
</div>