<div>
	<h2>User History</h2>
	<table class="table table-striped table-bordered">
        <th ng-repeat="head in headers" ng-model="head"><p>{{head}}</p></th>

        <tr ng-repeat="user in users" ng-model="user">
            <hr/>
            <td>
                <a ui-sref='home.online_user_detail({userId: user.userId, userName: user.nickname})'><strong>{{user.nickname}}</strong></a>
            </td>
            <!-- <td>
                {{user.subscribe_time}}
            </td> -->
            
        </tr>
    </table>
    <uib-pagination total-items="totalCourseCount" ng-model="pageIdx" max-size="5" class="pagination-sm" boundary-links="true" force-ellipses="true" boundary-link-numbers="true" num-pages="totalPages" ng-change="pageChanged()"></uib-pagination>
    <hr/>
</div>