<div>
    <h1>Add New User</h1>
    <table class="table">
        <th ng-repeat="head in headers" ng-model="head">
        	<p class= "userlist-head">{{head}}</p>
        </th>
        <tr ng-repeat="user in users" ng-model="user">
            <td class= "userlist-text">{{user.userName}}</td>
            <td class= "userlist-text">{{user.email}}</td>
            <td class= "userlist-text">{{user.phone}}</td>
            <td><a ui-sref='home.edit({userId: user.userId})'>edit</a></td>
        </tr>
    </table>
</div>
