<div id = "container">
	<h1>Register Page</h1>

    <form name="user_edit">
        <fieldset>
            <label for="userName"></label>
    	</fieldset>
        


        Name:<input ng-model="user.userName" name="userName" type="text" required /><br/>
        Email: <input ng-model="user.email" name="userEmail" type="text" required /><br/>
        Phone: <input ng-model="user.phone" name="userPhone" type="text" /><br/>
        Age: <input ng-model="user.age" name="userAge" type="text" /><br/>
        <button ng-click="submit()">Submit</button>
        <button ng-click="cancel()">Cancel</button>
    </form>

</div>