.ng-scope{
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.table tr:hover{
	background-color: #eaf9ff;
}

{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.label{
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	margin-top: 1.5em;
	color: rgb(50,50,50);
}

.main_menu{
    display: inline;
}

.userlist-text{
	text-align: left;
	color: rgb(0,0,255);
	font-size:14px;
}

.userlist-head{
	text-align: left;
	font-size: 18px;
}

.newuser-head{
     text-align: center;
     color: #888;
     font-family:.8em Arial, Tahoma, Verdana;
     font-size:36px;
     height:36px;
}

.newuser-content{
	text-align: center;
	font-family: Arial, Tahoma, Verdana;
}

.newuser-gender{
	padding-left: 610px;
	font: Arial, Tahoma, Verdana;
}

.newuser-button{
	text-align: center;white-space: nowrap;
}



.login-h1{
	font-size: 35px;
	color:#445668;
	text-align: center;
	margin: 0 0 35px 0;
	text-shadow:0px 2px 0px #f2f2f2;
}

.new_course{
    margin-left: 10px;
}

.course_edit img{
    width: 70%;
    height: 70%;
}