body{
	background: #fafafa;
}
.newuser-head{
	font-size: 5px;
}

.nav-header{
	border-top: 1px solid;
	border-bottom: 1px solid;
	line-height: 2.5em;
	padding: .25em .25em .25em 1em;
	border-left: none;
	color:#444;
	background-color: lightgrey;
}

.sidebar-nav {
  width: 240px;
  #position: absolute;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar-nav li{
	list-style: none;
}

.sidebar-nav .fa-collapse{
	float: right;
}

.home_content{
	margin-left: 240px;
	border-left: 1px solid #cccccc;
	min-height: 800px;
}

.course-folder li{
	padding-left: 40px;
}

input[type='text'] {
	border-radius: 4px;
}

textarea {
	border-radius: 4px;
}

.panel-body {
  position:relative; 
}
.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
}

.my-switch-animation.ng-enter {
  left:100%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
  left:0;
}

.my-switch-animation.ng-leave.ng-leave-active {
  left:-100%;
}

.panel {
  overflow:hidden;
  height: 600px;
  position: relative;
}

.fix-bottom{
  position: fixed;
  bottom: 0;
  margin-right: 0;
}