body{
	background: #fafafa;
}
.newuser-head{
	font-size: 5px;
}

.nav-header{
	border-top: 1px solid;
	border-bottom: 1px solid;
	line-height: 2.5em;
	padding: .25em .25em .25em 1em;
	border-left: none;
	color:#444;
	background-color: lightgrey;
}

.sidebar-nav {
  width: 240px;
  #position: absolute;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar-nav li{
	list-style: none;
}

.sidebar-nav .fa-collapse{
	float: right;
}

.home_content{
	margin-left: 240px;
	border-left: 1px solid #cccccc;
	min-height: 800px;
}

input[type='text'] {
	border-radius: 4px;
}

textarea {
	border-radius: 4px;
}